<phpunit
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
				xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
				bootstrap="../../../../tests/php-unit-tests/vendor/autoload.php"
				backupGlobals="true"
				colors="true"
				columns="120"
				convertErrorsToExceptions="true"
				convertNoticesToExceptions="true"
				convertWarningsToExceptions="true"
				processIsolation="false"
				stopOnError="false"
				stopOnFailure="false"
				stopOnIncomplete="false"
				stopOnRisky="false"
				stopOnSkipped="false"
				verbose="true"
				printerClass="Sempro\PHPUnitPrettyPrinter\PrettyPrinter"
>
	<testsuites>
		<testsuite name="UnitaryTests">
			<directory suffix="Test.php">unitary-tests</directory>
		</testsuite>
	</testsuites>
</phpunit>